@model WildLifeTracker.Models.Species

@{
    ViewData["Title"] = "Item - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this species: @Html.DisplayFor(model => model.name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.speciesId)

    @Html.LabelFor(model => model.name)
    @Html.EditorFor(model => model.name)

    @Html.LabelFor(model => model.Sighting.sightingId)
    @Html.DropDownList("sightingsId")

    <input type="submit" value="Save" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>

